body {
  background-color: $beige;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-left: 2.25em;
  padding-right: 2.25em;
}

#breadcrumb {
  li {
    float: left;
    margin-right: 0.667em;
    font-size: 14px;
    &:not(:last-child):after {
      content: ">";
      margin-left: 0.667em;
    }
  }
}

#workspace {
  @include outer-container;
}

header.project {
  margin-top: 2.25em;
  h1 {
    font-size: $base-font-size * 1.5;
    margin-bottom: 0.296em;
  }
  p.summary {
    color: $dark-beige;
  }
}

#action {
  float: right;
  li {
    float: left;
    margin-right: 1em;
  }

  a {
    text-decoration: underline;
  }
}

#data {
  @include clearfix;
  margin-bottom: 2.25em;
  border-top: 1px solid $beige;
  border-bottom: 1px solid $beige;
  
  li {
    float: left;
    margin-right: 1em;
    padding-top: 0.444em;
    padding-bottom: 0.444em;
  }

  a {
    font-weight: 600;
  }
}

// links //

a {
  color: $blue;
}

.sheet {
  @include clearfix;
  background-color: white;
  box-shadow: 0px 0px 9px -1px #B5AFB1;
  padding: 2.25em;

  h2 {
    color: $burgundi;
    font-weight: 400;
    font-size: 18px;
  }
}

table {
  th {
    color: $dark-beige;
    font-size: small;
    font-weight: 400;
  }
}
