#project-details {
  .description {
    @include span-columns(6);
  }

}

.people {
  @include clearfix;
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  .member {
    clear: both;
    img { 
      float: left; 
      margin-right: 1em;
      border-radius: 50%;
    }
    p { 
      float: left; 
      padding-top: 0.444em;
    }
  }
}

.features {
  margin-bottom: 2.25em;
}

.files {
  li:before {    
  font-family: 'FontAwesome';
  content: '\f019';
  margin:0 5px 0 0;
  color: #000;
  }
}

