<header>
  <nav>
    <div id="logo">
      <h1>Project Tracker</h1>
    </div>
    <div id="main-navigation">
      <ul class="navigation">
        <li><a href="#">Account</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</header>
