<div class="sheet">
  <div id="breadcrumb">
    <ul>
      <li><a href="/">Projects</a></li>
      <li><a href="/project.html">Alumni Project</a></li>
      <li>Edit</li>
    </ul>
  </div><!-- .breadcrumb -->
  <header class="project">
    <h1>Edit Alumni Project</h1>
  </header>
  <div class="form">
    <form class="project">
      <fieldset>
        <div>
          <label for="title">Title</label>
          <input id="title" name="title" required />
        </div>
        <div>
          <label for="summary">Summary</label>
          <input id="summary" name="summary" />
        </div>
        <div>
          <label for="description">Description</label>
          <textarea name="description" rows=5 cols=50></textarea>
        </div>
        <div>
          <input type="submit" name="Save" />
          <span class="cancel">
            <a href="#">Cancel</a>
          </span>
        </div>

      </fieldset>
    </form>
  </div><!-- .form -->
</div><!-- .sheet -->
