<div class="sheet">
  <div id="breadcrumb">
    <ul>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="project.html">Alumni Project</a></li>
      <li>Photo-album</a>
    </ul>
  </div>
  <header class="project">
    <div id="action">
      <ul>
        <li><a href="#">Add Task</a></li>
      </ul>
    </div><!-- #action -->
    <h1>Alumni Project</h1>
    <p class="summary">Feature: photo-album</p>
    <div id="data">
      <ul>
        <li><a href="#">3 Tasks</a></li>
        <li><a href="#">1 Pending</a></li>
        <li>60 hours</li>
        <li><a href="#">2 Completed</a></li>
      </ul>
    </div><!-- #data -->
  </header>
  <div class="tasks">
    <h2>Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Assigned To</th>
          <th>State</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">implement file uploads</a></td>
          <td>Anthony Candaele</td>
          <td>Pending</td>
          <td>4</td>
        </tr>
        <tr>
          <td><a href="#">implement html</a></td>
          <td>Anthony Candaele</td>
          <td>Completed</td>
          <td>8</td>
        </tr>
        <tr>
          <td><a href="#">take photo's</a></td>
          <td>Peter Debaere</td>
          <td>Completed</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div><!-- .tasks -->
</div>
