<div class="sheet">
  <div class="breadcrumb">
    <ul>
      <li><a href="#">Projects</a></li>
      <li>Alumni Project</li>
    </ul>
  </div><!-- .breadcrumb -->
  <header class="project">
    <div id="action">
      <ul>
        <li><a href="#">Edit Project</a></li>
        <li><a href="#">Add Features</a></li>
        <li><a href="#">Add Members</a></li>
        <li><a href="#">Add Files</a></li>
      </ul>
    </div><!-- #action -->
    <h1>Alumni Project</h1>
    <p class="summary">Web application for alumni students</p>
    <div id="data">
      <ul>
        <li><a href="#">5 features</a></li>
        <li><a href="#">20 tasks</a></li>
        <li>60 hours</li>
        <li><a href="#">3 members</a></li>
      </ul>
    </div><!-- #data -->
  </header>
  <div id="project-details">
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla  enim ivoluptatem.</p>
    </div>
    <div class="screenshot">
      <%= image_tag "screenshot-project.png" %>
    </div><!-- .screenshot -->
  </div><!-- .description -->
  <div class="people">
    <h2>People</h2>
    <div class="member">
      <%= image_tag "avatar40.gif"  %>
      <p><a href="#">Anthony Candaele</a></p>
    </div>
    <div class="member">
      <%= image_tag "avatar40.gif"  %>
      <p><a href="#">Pieter Poupeye</a></p>
    </div>
  </div><!-- .people -->
  <div class="features">
    <h2>Features</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>State</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="feature.html">photo-album</a></td>
          <td>open</td>
          <td>4</td>
        </tr>
        <tr>
          <td><a href="#">forum</a></td>
          <td>closed</td>
          <td>20</td>
        </tr>
        <tr>
          <td><a href="#">edit account</a></td>
          <td>closed</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div><!-- .features -->
  <div class="files">
    <h2>Files</h2>
    <ul>
      <li><a href="#">feature-spec.pdf</a></li>
      <li><a href="#">meeting-report.pdf</a></li>
    </ul>
  </div><!-- .files -->

</div><!-- .sheet -->
